<h3>DESCARGAR TXT</h3>
<div class="container-fluid">
    <a href="/comprobantes" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Comprobantes</a>
    <a href="/alicuotas" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Alicuotas</a>
</div>