<!DOCTYPE html>
<html>
  <head>
    <%-include('./partials/navbar.ejs')%>
    <title>DONEZO</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>DONEZO</h1>
</body>
</html>