<%-include('./partials/a-head.ejs')%>
  </head>
  <body>
    <%-include('./partials/navbar.ejs')%>
    <%-include('./partials/newReg.ejs')%>
</body>
<script src="/javascripts/Searchscript.js"></script>
<%-include('./partials/z-scripts.ejs')%>

